.react-time-picker__wrapper {
    padding: 6px !important;
    border-radius: 8px !important;

    .react-time-picker__button {
        svg {
            stroke: #FF993C !important;
        }
    }
}

.price-ticket {
    .form-group {
        display: block;
        // margin-bottom: 15px;
    }

    .form-group input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }

    .form-group label {
        font-size: 16px;
        font-weight: 500;
        opacity: 70%;
        position: relative;
        cursor: pointer;
    }

    .form-group label:before {
        content: '';
        -webkit-appearance: none;
        background-color: transparent;
        border: 2px solid #27AEF9;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 10px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 5px;
        border-radius: 4px;
    }

    .form-group input:checked+label:after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 9px;
        width: 6px;
        height: 14px;
        border: solid #27AEF9;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}

.timepicker-frmCreate {
    .ant-picker {
        // height: 40px !important;

        svg {
            width: 18px;
            height: 18px;
            color: #FF993C;
        }
    }
}